Repository chamoda/fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkpyproject, requirements, requirements-test

checkpyproject:
  name: poetry check
  language: system
  pass_filenames: false
  entry: poetry check

requirements:
  name: export requirements
  language: system
  pass_filenames: false
  entry: poetry export -f requirements.txt --without-hashes -o requirements.txt

requirements-test:
  name: export requirements-test
  language: system
  pass_filenames: false
  entry: poetry export -f requirements.txt --without-hashes --dev -o requirements-test.txt

Make default is_admin False
  app/models.py
  migrations/versions/3a8c906c289e_.py
Due: none

Formating
  migrations/versions/3a8c906c289e_.py
Due: none

Update project dependencies to latest versions
  poetry.lock
  pyproject.toml
  requirements-test.txt
  requirements.txt
Due: checkpyproject, requirements, requirements-test

Update project dependencies to latest versions
  .envrc
  .pre-commit-config.yaml
  README.md
  uv.lock
Due: none

Fix pyproject.toml after rebase reverted uv migration
  pyproject.toml
Due: checkpyproject

Complete uv migration by removing poetry.lock and updating requirements
  poetry.lock
  requirements-test.txt
  requirements.txt
Due: requirements, requirements-test

Cleanup config.py
  app/config.py
Due: none

Update GitHub Actions workflow to use uv instead of poetry
  .github/workflows/pre-commit.yaml
Due: none

Remove uv sync --check hook from pre-commit config
  .pre-commit-config.yaml
Due: none

Add missing OBJ_URL setting to fix attribute access error
  app/config.py
Due: none

Cleanup
  app/api/platform/routers/meta.py
  app/api/platform/routers/registrations.py
  docs/nginx-ingress-setup.md
  manage.py
  templates/reset_password.txt
  templates/verify_email.txt
Due: none

Update to Python 3.12 Postgresql 16
  README.md
  pyproject.toml
  requirements-test.txt
  requirements.txt
  tests/conftest.py
  uv.lock
Due: checkpyproject

Update README.md
  README.md
Due: none

Fix pre-commit fail
  app/api/platform/routers/meta.py
  app/api/platform/routers/registrations.py
  manage.py
Due: none

Update dependencies
  pyproject.toml
  requirements-test.txt
  requirements.txt
  uv.lock
Due: checkpyproject

Update deps
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  pyproject.toml
  requirements-test.txt
  requirements.txt
  uv.lock
Due: checkpyproject

Add banner
  README.md
  banner.png
Due: none

Add lazy raise_on_sql to prevent MissingGreenletError
  app/database.py
Due: none

Add redis to support rate limiting
  README.md
Due: none

Update gitignore
  .gitignore
Due: none

Update pre-commit
  .pre-commit-config.yaml
  app/models.py
  app/schemas.py
Due: none

Update types to standard mode
  app/api/platform/routers/meta.py
  app/api/platform/routers/registrations.py
  app/models.py
  app/schemas.py
  app/security.py
  pyproject.toml
Due: checkpyproject

Add Makefile
  Makefile
Due: none

Simplified template
  .env.example
  .github/workflows/tests.yaml
  Makefile
  README.md
  app/api/platform/access.py
  app/api/platform/router.py
  app/api/platform/routers/meta.py
  app/api/platform/routers/registrations.py
  app/api/platform/schemas.py
  app/config.py
  app/database.py
  app/exceptions.py
  app/limiter.py
  app/main.py
  app/models.py
  app/notifications.py
  app/schemas.py
  app/security.py
  app/utils.py
  manage.py
  migrations/env.py
  pyproject.toml
  requests.org
  requirements-test.txt
  requirements.txt
  templates/reset_password.txt
  templates/verify_email.txt
  tests/api/platform/test_meta.py
  tests/api/platform/test_registration.py
  tests/api/platform/test_users.py
  tests/conftest.py
  uv.lock
Due: checkpyproject

Path conditions:
  checkpyproject: any of: pyproject.toml
  requirements: any of: poetry.lock
  requirements-test: any of: poetry.lock
